* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow-x: hidden;
}

main{
  margin-top: 10vh;
  h1{
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4rem;
    margin-bottom: 200px;
  }

  ul{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    list-style-type: none;

    a{
      text-decoration: none;
      background-color: rgba(92, 92, 92, 0.884);
      padding: 10px;
      border-radius: 10px;
      color: white;

    }
  }
}