
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  overflow-x: hidden;
}
header {
  height: 80px;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: transparent;
  gap: 30px;

  height: 100%;
  width: 100%;
  z-index: 3;

  .logo {
    font-family: "Louis George Café", sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.4s ease-in-out;

    img {
      max-width: 140px;
      padding: 10px;
      cursor: pointer;
    }

    @media (max-width: 900px) {
      img {
        max-width: 110px;
      }
    }
  }

  .nav-list {
    > li:not(.logo, .cafe) {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-out;
      margin-left: 10px;
      height: 100%;

      &:not(:last-child):hover {
        // color: #bd9ba0;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;
        @media (max-width: 900px) {
          &:hover{
            box-shadow: none;

          }
        }
      }
      @media (max-width: 900px) {
        margin-left: 0;
        height: 80%;
        
      }
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 18px;
    padding: 10px 20px;

    transition: 0.2s ease-out;
    @media (max-width: 900px) {
      color: black;
      padding: none;
      &:hover{
        background-color: transparent;
      }
    }
  }

  .cafe {
    background-color: #80121f;
    color: white;

    border-radius: 5px;
    &:hover {
      background-color: #bd9ba0;
      color: #59020c;
    }
  }

 

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    height: 100%;

    &.active {
      transform: translateY(0);
      z-index: 1;
      top: 0;
    }
  }
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;

  > div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  }

  &.active {
    .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
}

@media (max-width: 900px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(54, 54, 54, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;


    > li {
      margin-left: none;
    }
  }
  .mobile-menu {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatey(-10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

main{
height: 400vh;
width: 100%;
margin: 0px auto;
overflow: hidden;

  
  .circle{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;

    bottom: 0;
    right: 0;
    transform: translate(45%, 10%);

    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.185);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    @media (max-width: 900px){
      width: 400px;
      height: 400px;
      transform: translate(30%, 10%);
    }
  }

  .circle2{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;

    right: 0;
    bottom: 0;
    transform: translate(50%, 10%);

    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.116);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.144);
  }

  .circle3{
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;

    left: 0;
    top: 60px;
 
    transform: translate(-50%, 10%);

    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 2, 0.137);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    @media (min-width: 900px){

      transform: translate(-50%);
    }
  }

  .bg{
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    filter: brightness(75%);
    mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 95%);
    z-index: -1;
    pointer-events: none;
    user-select: none;
  }
  .intro{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 2;
    padding: 0px 1rem 80px;
    text-align: center;
    top: -50px;
    overflow: hidden;

    .about{
      position: absolute;
      text-align: center;
      // left: 0;
      // text-align: left;
      // margin-left: 4%;
      //z-index: 4;

      h1{
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.486));
        font-size: 5rem;
        line-height: 90%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
  
      p{
        color: rgba(255, 255, 255, 0.568);
        font-family: Arial, Helvetica, sans-serif;
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.486));
        font-size: 2rem;
      }

      @media (max-width: 900px){
        position: relative;
        text-align: center;
        margin-left: none;

        h1{
          width: 100%;
          font-size: 4rem;
        }
      }
    }

    img{
      position: absolute;
      margin-top: 90vh;
      filter: opacity(40%);
      z-index: 3;
    }
  }
  

  .menu{
    height: 100vh;
    box-sizing: border-box;


    h1{
      justify-content: center;
      display: flex;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    .cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
      gap: 1rem;

      .item{
        display: flex;
        flex: 1 1 500px;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: #9696961a;
        border-radius: 1rem;
        padding: 1rem;
        gap: 2rem;

        transition: all 0.25s ease 0s;
        cursor: pointer;

        @media (min-width: 900px){
          margin: 5rem 7rem 0px 7rem;
        }

        @media (max-width: 900px){
          margin: 5rem 5rem 0px 5rem;
        }
        



        img{
          width: 100%;
          max-width: 400px;
          height: 100%;
          max-height: 250px;
          object-fit: contain;
          margin-top: -5rem;
          transition: all 0.25s ease 0s;
          pointer-events: none;
          user-select: none;

        }
        p{
          padding: 10px;
          color: rgb(255, 255, 255);
          font-size: 2rem;


        }
      }


      @media (max-width: 900px){
        margin: 20px;
      }
 
    }
    aside{
      float: left;
      margin: 82px 50px;
      border-radius: 4px;
      height: 100%;
      max-height: 200px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: -webkit-sticky;
      position: sticky;
      top: 32px;

      color: #ffffff;
      p{
        color: #ffffff;
      }


      @media (max-width: 900px){
        display: none;
      }
    }
    h1{
      font-size: 100px;
      color: #ffffff;
    }

    section{
      float: right;
      margin: 82px 50px;
      border-radius: 4px;
      height: 100%;
      max-height: 200px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: -webkit-sticky;
      position: sticky;
      top: 32px;

      color: #ffffff;


      @media (max-width: 900px){
        display: none;
      }
    }
  }
}

