@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #efe3e5;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  height: 80px;
  z-index: 3;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: transparent;
  gap: 30px;
  height: 100%;
  width: 100%;
  z-index: 3;
}
nav .logo {
  font-family: "Louis George Café", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.4s ease-in-out;
}
nav .logo img {
  max-width: 140px;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 900px) {
  nav .logo img {
    max-width: 110px;
  }
}
nav .nav-list > li:not(.logo, .cafe) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 100%;
}
nav .nav-list > li:not(.logo, .cafe):not(:last-child):hover {
  box-shadow: inset 0 -8px 5px 50px #ecd7da;
}
@media (max-width: 900px) {
  nav .nav-list > li:not(.logo, .cafe):not(:last-child):hover:hover {
    box-shadow: none;
  }
}
@media (max-width: 900px) {
  nav .nav-list > li:not(.logo, .cafe) {
    margin-left: 0;
    height: 80%;
  }
}
nav a {
  text-decoration: none;
  color: #59020c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
}
@media (max-width: 900px) {
  nav a {
    color: black;
    padding: none;
  }
  nav a:hover {
    background-color: transparent;
  }
}
nav .cafe {
  background-color: #bd9ba0;
  color: #59020c;
  border-radius: 5px;
}
nav .cafe:hover {
  background-color: #80121f;
  color: white;
}
nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}
nav .nav-list.active {
  transform: translateY(0);
  z-index: 1;
  top: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}
.mobile-menu > div {
  width: 32px;
  height: 2px;
  background: #7a5f63;
  margin: 8px;
  transition: 0.3s;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 900px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(54, 54, 54, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list > li {
    margin-left: none;
  }
  .mobile-menu {
    display: block;
  }
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatey(-10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatey(-10px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
main {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0px auto;
}
main .about {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 45%;
  z-index: 0;
  top: 110px;
  margin-left: 8%;
}
main .about h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 90px;
  font-weight: 900;
  color: #59020c;
  line-height: 75%;
}
main .about h1 span {
  font-weight: 100;
  color: #a18085;
}
main .about h1 .tb {
  font-size: 50px;
  color: #80121f;
}
main .about p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  width: 70vh;
  color: rgba(0, 0, 0, 0.653);
  margin-bottom: 15px;
}
main .about a {
  text-decoration: none;
  color: white;
  background-color: #59020c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
  border-radius: 5px;
}
main .about a:hover {
  background-color: #80121f;
}
@media (max-width: 900px) {
  main .about {
    align-items: center;
    max-width: 100%;
    margin-left: 0;
  }
  main .about h1 {
    text-align: center;
    font-size: 70px;
  }
  main .about p {
    display: none;
    font-size: 50px;
  }
  main .about a {
    font-size: 15px;
  }
}
main .bg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
main .bg .wave:before, main .bg .wave:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 250vw;
  min-height: 250vw;
  background-color: #dfc2c5;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
main .bg .wave:before {
  bottom: 25vh;
  border-radius: 45%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
main .bg .wave:after {
  bottom: 22vh;
  opacity: 0.5;
  border-radius: 47%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
@media (min-width: 900px) {
  main .bg .wave {
    display: none;
  }
}
main .bg .circle {
  position: absolute;
  border-radius: 50%;
}
main .bg .circle svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 900px) {
  main .bg .circle {
    width: 300vh;
    height: 95vh;
    bottom: 0;
    top: 0;
    right: 0;
    transform: translate(45%, 10%);
  }
}
@media (max-width: 900px) {
  main .bg .circle {
    display: none;
  }
  main .bg .circle > svg {
    display: none;
  }
}
main .bg .cup {
  max-width: 100vw;
  height: 100vh;
  max-height: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  filter: drop-shadow(40px 30px 20px rgba(0, 0, 0, 0.329));
}
@media (max-width: 900px) {
  main .bg .cup {
    display: none;
  }
}
@media (min-width: 900px) {
  main .bg {
    max-width: 45vw;
    right: 0;
    bottom: -20px;
  }
}
@media (max-width: 900px) {
  main .bg {
    top: 0;
    left: 0;
    overflow: hidden;
    margin-top: -80px;
    padding: 80px 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}/*# sourceMappingURL=style.css.map */