@import url('http://fonts.cdnfonts.com/css/louis-george-cafe');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #EFE3E5;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
header {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: none; 
  gap: 30px;

  height: 100%;    
  width: 100%;

  .logo{
    font-family: 'Louis George Café', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all .4s ease-in-out;
    
    img{
      max-width: 120px;
      padding: 10px;
      cursor: pointer;
    }


  }


  a {
    text-decoration: none;
    color: #59020C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: .2s ease-out;


 

    &:not(.logo, .cafe) {
      &:hover {
        box-shadow: inset 0 -8px 5px 50px #ecd7da;
        

      }
    }
  }

  
  .cafe{
    background-color: #59020C;
    color: #fff ;
         border-radius: 5px;

    &:hover{
      background-color: #80121f;
 
    }
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
    height: 100%;
    
    &.active {
      transform: translateY(0);
      z-index: 1;
      top: 0;
    }
  }
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;

  > div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  &.active {
    .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
}

@media (max-width: 900px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(54, 54, 54, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    gap: 15%;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;

    > li {
        margin-left: none;
    }
  }
  .mobile-menu {
      display: block;
  }
}


@keyframes navLinkFade {
from {
  opacity: 0;
  transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}

main{
  position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: calc(100vh - 80px);
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 1rem;
    overflow: hidden;
  h1{
    font-family: 'Louis George Café', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #59020C;
  }
  p{
    font-family: 'Louis George Café', sans-serif;
    font-size: 20px;
  }
  .cup{
    position: absolute;
    display: flex;
    max-width: 100%;
    right: 0;

    width: 50%;
  }
}