@charset "UTF-8";
@import url("http://fonts.cdnfonts.com/css/louis-george-cafe");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #EFE3E5;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: transparent;
  gap: 30px;
  height: 100%;
  width: 100%;
}
nav .logo {
  font-family: "Louis George Café", sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.4s ease-in-out;
}
nav .logo img {
  max-width: 140px;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 900px) {
  nav .logo img {
    max-width: 110px;
  }
}
nav a {
  text-decoration: none;
  color: #59020C;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
}
nav a:not(.logo, .cafe) {
  margin-left: 10px;
}
nav a:not(.logo, .cafe):hover {
  box-shadow: inset 0 -8px 5px 50px #ecd7da;
}
nav .cafe {
  background-color: #bd9ba0;
  color: #59020C;
  border-radius: 5px;
}
nav .cafe:hover {
  background-color: #80121f;
  color: white;
}
nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
}
nav .nav-list.active {
  transform: translateY(0);
  z-index: 1;
  top: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}
.mobile-menu > div {
  width: 32px;
  height: 2px;
  background: #bd9ba0;
  margin: 8px;
  transition: 0.3s;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 900px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(54, 54, 54, 0.2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: center;
    gap: 15%;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list > li {
    margin-left: none;
  }
  .mobile-menu {
    display: block;
  }
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
main {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
main .about {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 45%;
  z-index: 2;
  top: 130px;
  margin-left: 100px;
}
main .about h1 {
  font-family: "Louis George Café", sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: #59020C;
  line-height: 85%;
}
main .about h1 span {
  font-weight: 100;
  color: #bd9ba0;
}
main .about p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.653);
  margin-bottom: 15px;
}
main .about a {
  text-decoration: none;
  color: white;
  background-color: #59020C;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  padding: 10px 20px;
  transition: 0.2s ease-out;
  border-radius: 5px;
}
main .about a:hover {
  background-color: #80121f;
}
@media (max-width: 900px) {
  main .about {
    align-items: center;
    max-width: 100%;
    margin-left: 0;
  }
  main .about h1 {
    text-align: center;
  }
  main .about p {
    display: none;
  }
  main .about a {
    font-size: 15px;
  }
}
main .circle {
  position: absolute;
  bottom: -200px;
  right: -200px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #59020C;
}
@media (max-width: 900px) {
  main .circle {
    display: none;
  }
}
main .cup {
  position: absolute;
  display: flex;
  max-width: 100%;
  right: 0;
  top: -50px;
  width: 50%;
}
@media (max-width: 900px) {
  main .cup {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */